<!DOCTYPE html>
<html>
<head>
   <title>Bookers2</title>
</head>

<boby>
  <div class="container">
  <div class="row">

<%= render 'books/list', user: @user %>

<%= render 'books/index', user: @user %>
    
    
</div> 
</div> 
  </boby>
  </html>
  
  