<!DOCTYPE html>
<html>
<head>
   <title>Bookers2</title>
</head>

<boby>
  <% flash[:notice] %>
  
  <div class="container">
  <div class="row">
    

<%= render 'books/list', user: @user %>

<%= render 'books/index', user: @user,books: @books %>
    
    
</div> 
</div> 
  </boby>
  </html>
  
  