<!DOCTYPE html>
<html>
<head>
   <title>Bookers2</title>
</head>

<boby>
  <div class="container px-5 px-sm-0">
  <div class="row">

<%= render 'list', user: @user %>

<%= render 'index', user: @user, books: @books %>

</div>
</div>
  </boby>
  </html>

