<!DOCTYPE html>
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
  <head>
    <title>Bookers2</title>
    </head>

  <body>
    <main>
        <div class="container">
  <div class="row">
    <h1 class="px-3 mx-auto">welcome to <strong>Bookers</strong>  !</h1>
    
  </div>
</div>
</main>
</body>
</html>